body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #212529;
}


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  overflow: hidden;
}

.signup-form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #1e2124;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form h3 {
  text-align: center;
}

.signup-form .form-group {
  margin-bottom: 15px;
}

.signup-form label {
  display: block;
  font-weight: bold;
}

.signup-form input[type="email"],
.signup-form input[type="text"],
.signup-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form button {
  width: 100%;
}
