body {
  background-color: #0f151a;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

#expense-box {
  font-size: 16px;
  position: fixed;
  top: 90px;
  left: 20;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
}

#income-box {
  font-size: 16px;
  position: fixed;
  top: 90px;
  left: 350PX; /* Adjust the left position as needed */
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

#expense-box li.list-group-item.active {
  background-color: #d62929;
}
#income-box li.list-group-item.active {
  background-color: #7bf393;
}

#myBtn {
  width: 200px;
  margin-top: 130px;
  position: relative;
  background-color: #d87070;
}

#myBtnin {
  width: 200px;
  margin-top: 130px;
  margin-left: 30px;
  position: relative;
  z-index: 1;
  background-color: #b3ff9e;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #23282c;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #23282c;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closein {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
}

.inputDiv {
  margin-bottom: 20px;
}

.inputDiv label {
  color: #ffffff;
  margin-bottom: 5px;
}

.inputDiv input,
.inputDiv textarea,
.inputDiv select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}

.inputDiv select {
  margin-top: 5px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0069d9;
}

.table {
  border-radius: 5px;
  background-color: #000000;
  color: #ffffff;
}

.table th {
  background-color: #23282c;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgb(255, 255, 255);
}

.expense {
  background-color: #ff8c8c; /* Set the background color for expense rows */
}

.income {
  background-color: #8cff8c; /* Set the background color for income rows */
}

.filter-options {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.filter-options label {
  margin-right: 10px;
}

.filter-options select,
.filter-options input[type="date"] {
  border-radius: 4px;
  padding: 5px;
}

.filter-options button {
  margin-left: 10px;
}

