* {
  background-color: #282b30;
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.header-logo {
  background-color: #282b30;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}

.header-logo img {
  width: 100px;
  height: auto;
}

