{% extends "base.html" %} {% block title %} Banks {% endblock %} {% block content %}

<h2 align="center">Your Banks Account</h2>
<br />
<form action="/banks" method="POST" align="center">
  <input type="text" name="bankName" placeholder="Bank Name" />
  <input type="text" name="bankBalance" placeholder="Bank Balance" />
  <input type="submit" value="Add New Bank" />
</form>
<br />
<br />
<br />
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Bank Name</th>
      <th scope="col">Bank Balance</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for bank in user.banks %}
    <tr>
      <td>{{ bank.bankname }}</td>
      <td>{{ bank.ammout }}</td>
      <td>
        <a href="/banks/{{ bank.id }}" class="btn btn-primary">Edit</a>
        <form action="/banks/{{ bank.id }}" method="POST" style="display:inline-block">
          <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}