{% extends "base.html" %} {% block stylesheets %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/savings.css') }}"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
/>
{% endblock %} {% block title %} Home {% endblock %} {% block content %}
<div class="container">
  <h2 class="text-center">Yours Savings</h2>
  <section class="add-safe-container">
    <div class="form-safe">
      <form action="/addsafe" method="POST" class="text-center">
        <div class="form-group">
          <label for="safeName">Safe Name</label>
          <input
            type="text"
            class="form-control"
            name="safeName"
            id="safeName"
            placeholder="Enter Safe Name"
          />
        </div>
        <div class="form-group">
          <label for="safeBalance">Balance</label>
          <input
            type="text"
            class="form-control"
            name="safeBalance"
            id="safeBalance"
            placeholder="Enter Balance"
          />
        </div>
        <button type="submit" class="btn btn-success mt-2">
          <i class="fa-solid fa-plus fa-beat" style="color: #ffffff"></i>
        </button>
      </form>
    </div>
  </section>
  <table class="table bg-white table-hover table-responsive">
    <thead>
      <tr>
        <th scope="col">Safe Name</th>
        <th scope="col">Safe Balance</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for safe in user.savings %}
      <tr>
        <td>{{ safe.safename }}</td>
        <td>{{ safe.balance }}$</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add-safe-modal-{{ safe.id }}"
          >
            Add
          </button>
          <div class="modal" tabindex="-1" id="add-safe-modal-{{ safe.id }}">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <form action="/update_safe/{{ safe.id }}" method="POST">
                  <div class="modal-header">
                    <h5 class="modal-title">Safe {{ safe.safename }}</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-center">
                    <label for="add-safe-amount">Amount</label>
                    <input
                      type="number"
                      name="add-safe-amount"
                      id="add-safe-amount"
                    />
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button
                      type="submit"
                      name="action"
                      value="subtract"
                      class="btn btn-danger"
                    >
                      <i class="fa-solid fa-minus" style="color: #ffffff"></i>
                    </button>
                    <button
                      type="submit"
                      name="action"
                      value="add"
                      class="btn btn-success"
                    >
                      <i class="fa-solid fa-plus" style="color: #ffffff"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <button class="btn btn-danger" onclick="deleteSafe({{ safe.id }})">
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
